.poepie {
  display: flex;
  flex-direction: row;
}

.options {
  display: flex;
  flex-direction: row;
}

.options div {
  width: 33%;
}

.options div,
.poepie div {
  /* margin: 0 .6rem;  */
  padding: 1rem 1.4rem;
  text-align: center;
  /* max-width: 5rem; */
}

.steen {
  background-color: gray;
}

.papier {
  background-color: blueviolet;
}

.schaar {
  background-color: orange;
}

/* .poepie div {
    margin: 0 .6rem;
    padding: .6rem;
    text-align: center;
} */
